.container,
.section__poster,
.section__link
 {
    padding-left: 24px;
}
.button {
    margin-top: 10px;
    margin-bottom: 10px;
 
}

.section__poster {
    display: flex;
}

.description {
    padding-left: 20px;
}

.link {
    margin-top: 10px;
}

ul.list li {
    float: left;
    list-style: none;
    margin-right: 10px;
   
}

.list__list {
    padding-inline-start: 0;
    text-decoration: none
}

.section__link {
/* border:solid 1px; */


}

.link {
    text-decoration: none
}